# Import Libraries

In [ ]:
import pickle
import pandas as pd
import numpy as np
import random
# import seaborn as sns
# from sklearn.decomposition import PCA
import joblib

# Load Model

In [2]:
best_model = joblib.load('final_model.pkl')

# Inference

In [3]:
# Menentukan nilai seed untuk memastikan hasil yang konsisten
seed = 123
random.seed(seed)
np.random.seed(seed)

# Jumlah data yang akan dibuat
jumlah_data = 500

# Membuat data acak untuk masing-masing fitur
tenure = np.random.uniform(low=0, high=50, size=jumlah_data)
jumlah_device = random.choices([1, 2, 3, 4, 5, 6], k=jumlah_data)
skor_kepuasan = random.choices([1, 2, 3, 4, 5], k=jumlah_data)
ada_keluhan = random.choices([0, 1], k=jumlah_data)
hari_sejak_order_terakhir = np.random.uniform(0, 30, jumlah_data)
jumlah_cashback = np.random.uniform(0, 300, jumlah_data)
kategori_order = random.choices(['Laptop & Accessory', 'Mobile Phone', 'Others', 'Fashion', 'Grocery'], k=jumlah_data)
status_pernikahan = random.choices(['Single', 'Divorced', 'Married'], k=jumlah_data)

# Menggabungkan semua fitur ke dalam satu DataFrame
data_simulasi = pd.DataFrame({
    'Tenure': tenure,
    'NumberOfDeviceRegistered': jumlah_device,
    'SatisfactionScore': skor_kepuasan,
    'Complain': ada_keluhan,
    'DaySinceLastOrder': hari_sejak_order_terakhir,
    'CashbackAmount': jumlah_cashback,
    'PreferedOrderCat': kategori_order,
    'MaritalStatus': status_pernikahan
})

In [5]:
y_inf_pred = pd.DataFrame(best_model.predict(data_simulasi))
y_inf_pred.value_counts()

0
0    479
1     21
Name: count, dtype: int64

In [7]:
# Menyisipkan hasil prediksi ke dalam DataFrame
data_simulasi['Churn_Predicted'] = best_model.predict(data_simulasi)

In [9]:
# Menampilkan data yang diprediksi tidak churn (0)
data_churn_0 = data_simulasi[data_simulasi['Churn_Predicted'] == 0]
data_churn_0

,Tenure,NumberOfDeviceRegistered,SatisfactionScore,Complain,DaySinceLastOrder,CashbackAmount,PreferedOrderCat,MaritalStatus,Churn_Predicted
0,34.823459,1,1,0,6.384945,24.568332,Laptop & Accessory,Married,0
1,14.306967,1,4,1,11.769122,148.511889,Others,Divorced,0
2,11.342573,3,1,1,25.546442,86.667021,Others,Divorced,0
3,27.565738,1,4,1,3.828367,191.997561,Mobile Phone,Single,0
4,35.973448,6,5,1,26.815961,149.980784,Others,Married,0
...,...,...,...,...,...,...,...,...,...
494,0.004094,1,2,0,19.022544,199.317619,Grocery,Single,0
495,49.029867,1,1,0,7.931924,192.098552,Fashion,Married,0
496,44.135649,4,3,1,20.727462,57.646948,Others,Divorced,0
497,45.973623,2,2,1,10.414382,39.868851,Grocery,Married,0
499,37.230773,5,5,0,8.846841,106.607916,Laptop & Accessory,Single,0

In [10]:
# Menampilkan data yang diprediksi tidak churn (1)
data_churn_0 = data_simulasi[data_simulasi['Churn_Predicted'] == 1]
data_churn_0

,Tenure,NumberOfDeviceRegistered,SatisfactionScore,Complain,DaySinceLastOrder,CashbackAmount,PreferedOrderCat,MaritalStatus,Churn_Predicted
26,18.089433,4,4,1,4.431685,105.407193,Others,Single,1
74,0.806460,3,3,0,12.989080,76.090586,Others,Divorced,1
109,19.241891,3,4,1,3.116527,226.801647,Mobile Phone,Single,1
118,0.134403,6,4,0,27.265254,47.034980,Laptop & Accessory,Single,1
186,0.371319,1,4,0,27.150854,5.474971,Mobile Phone,Single,1
196,1.609897,2,3,0,29.873453,113.832940,Grocery,Single,1
228,15.683448,1,3,1,8.360624,259.156196,Mobile Phone,Single,1
240,0.277270,6,4,1,23.068761,253.218272,Laptop & Accessory,Single,1
258,1.262118,4,1,1,17.577059,283.881654,Laptop & Accessory,Married,1
279,1.309830,3,3,1,25.060293,299.760379,Mobile Phone,Single,1
281,0.805932,3,5,1,15.410380,134.815258,Fashion,Divorced,1
300,0.819624,5,4,1,11.615856,54.015747,Mobile Phone,Single,1
302,0.386876,2,4,0,0.424314,222.662770,Grocery,Single,1
320,0.176611,6,3,0,2.500448,135.757845,Laptop & Accessory,Divorced,1
324,2.604557,2,4,1,8.039465,206.742861,Mobile Phone,Single,1
355,15.052668,5,4,1,15.823700,244.857660,Mobile Phone,Divorced,1
405,2.170905,6,2,1,3.376203,264.429692,Others,Single,1
409,1.816167,5,1,1,25.761798,226.458916,Others,Married,1
456,0.657992,2,3,1,7.498629,220.801028,Mobile Phone,Divorced,1
457,1.207420,6,4,1,10.516180,279.935182,Laptop & Accessory,Married,1
498,20.775178,1,4,1,0.125055,281.421494,Others,Single,1